
docs/la04/** linguist-vendored
docs/la01/** linguist-vendored
libstarid/include/** linguist-vendored

*.sh linguist-vendored
*.RNO linguist-vendored
*.RNH linguist-vendored
*.do linguist-vendored
*.COM linguist-vendored
*.CMD linguist-vendored
*.html linguist-vendored
*.MAC linguist-language=Assembly
