dist/*
build/*
venv/*
cmake-build-debug/*
starid.egg-info/*
starid-*/*
data/nmt_model/*
version

*.idea*
*.so
*.cbp
a.out
pairs
Starpairs
Makefile
log

lang-sentences*
*ckpt*
/venv38/
/docs/build/
/data/starpairs
/build/
/venv/
/dist/
/cmake-build-debug/
/starid.egg-info/
/.pytest_cache/
/etc/
/tmp/
/.python-version
/cmake-build-debug-cygwin/
/cmake-build-debug-mingw/
/venv310/
/cmake-build-debug-docker/
/build-docs/
.vscode
