include CMakeLists.txt
include license.md
include Makefile
include manifest.in
include readme.md
include setup.py

recursive-include data *
recursive-include docs *
recursive-include starid *

recursive-exclude libstarid *

exclude data/pairs
exclude data/sky


