include CMakeLists.txt
include license.md
include Makefile
include MANIFEST.in
include README.md
include setup.py
include requirements.txt

recursive-include data *
recursive-include docs *
recursive-include starid *

recursive-exclude docs/papers *

exclude data/pairs
exclude data/sky


